<h2>List-o-Ratings</h2>

<p><%= link_to 'Add rating(s)', ratings_new_path %></p>

<p><%= Rating.all.count %> ratings altogether</p>

<ul>
	<% @ratings.each do |r| %>
		<li><%= r %></li>
	<%end%>
</ul>
