<h2>List-o-Ratings</h2>

<p><%= link_to 'Add rating', new_rating_path %></p>

<p><%= Rating.all.count %> ratings altogether</p>

<ul>
	<% @ratings.each do |r| %>
		<li><%= r %> <%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	<%end%>
</ul>
