<h2>List-o-Ratings</h2>

<p><%= link_to 'Add rating', new_rating_path %></p>

<p><%= Rating.all.count %> ratings altogether</p>

<ul>
	<% @ratings.each do |r| %>
		<li><%= r %> <%= link_to r.user.username, r.user %></li>
	<%end%>
</ul>
