<p id="notice"><%= notice %></p>

<h1>Listing beers</h1>

<table id="beertable">
    <tr>
      <th> <a href="#" id="name">Name</a> </th>
      <th> <a href="#" id="style">Style</a> </th>
      <th> <a href="#" id="brewery">Brewery</a> </th>
    </tr>
</table>

<br>

<%= link_to 'New Beer', new_beer_path if current_user %>

