<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script>
    function BeersController($scope, $http) {
		$http.get('beers.json').success(function(data, status, headers, config) {
	        $scope.bs = data;
		});
        $scope.order = 'name';

        $scope.order_by = function (parameter){
            $scope.orderkey = parameter;
            console.log(parameter);
        }
		$scope.searchText = '';
    }
</script>

<h2>Beers</h2>

<div ng-app ng-controller="BeersController">
  search by filter: <input ng-model="searchText">
  <table>
    <thead>
    <th> <a ng-click="order_by('name')">name</a> </th>
    <th> <a ng-click="order_by('style.name')">style</a> </th>
    <th> <a ng-click="order_by('brewery.name')">brewery</a> </th>
    </thead>
    <tr ng-repeat="beer in bs | orderBy:orderkey | filter:searchText">
      <td>{{beer.name}}</td>
      <td>{{beer.style.name}}</td>
      <td>{{beer.brewery.name}}</td>
    </tr>
  </table>

</div>
